body {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: top center;
}

.header {
    text-align: right;
    border: solid #EFD6EC;
    background-color: #EFD6EC;
    height: fit-content;


}

.container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
}

.h2 {
    border: solid #EFD6EC;
    background-color: #EFD6EC;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    text-align: center;
}

p {
    margin: 0 0 32px;
    text-align: center;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
}

.info {
    margin: auto;
}

.skills {
    margin: 0 0 32px;
    text-align: center;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
}

h1 {
    font-size: 40px;
    font-family: "Old Standard TT", "Times", "Times New Roman", serif;
    margin: 0 0 32px;
    text-align: center;
    padding-top: 10px;
}


.main_photo {
    border-radius: 100px;
    margin: 0 0 32px;
    text-align: center;
}


.footer_info {
    padding: 0;
    text-align: right;
    border: solid #EFD6EC;
    background-color: #EFD6EC;
        margin: 0 auto;

}

.footer_p {

    text-align: center;

}
